VITE_FORMSUBMIT_ENDPOINT=https://formsubmit.co/ajax/215a6ba1d658288391945a09ef4f7300
VITE_SITE_CONTACT_EMAIL=info@lenoirfoundation.com
VITE_SITE_PRIMARY_DOMAIN=https://lenoirfoundation.com
VITE_ALLOWED_LINK_SCHEMES=https:,http:,mailto:,tel:
